@use "../../styles//partials/mixins.scss" as *;

.navbar {
  display: grid;
  grid-template-columns: auto 3fr auto;
  background-color: rgb(183, 229, 229);
  padding: 1rem;
  align-items: center;
  @include mobile {
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
  }
  h1 {
    font-size: 2rem;
    color: rgb(49, 126, 142);
    text-decoration: none;
    @include mobile {
      font-size: 1.2rem;
      text-align: left;
    }
  }
  &-list {
    display: flex;
    margin-left: 3rem;
    gap: 30px;
    @include mobile {
      display: none;
    }
    .cross-image {
      display: none;
    }
    li {
      color: rgb(49, 126, 142);
      font-size: 1.2rem;
      transition: all 0.3s ease;
      &:hover {
        color: rgb(8, 69, 81);
        text-decoration: underline;
      }
    }
  }
  @include mobile {
    &-mobilelist {
      position: absolute;
      top: 0%;
      right: 0;
      background-color: rgb(130, 193, 193);
      width: 100vw;
      height: 70vh;
      padding: 1rem 1rem;
      display: grid;
      grid-template-rows: .5fr 1fr 1fr 1fr;
      li {
        transition: 1s linear;
        color: rgb(49, 126, 142);
        font-size: 1.2rem;
        width: 100%;

        &:hover {
          background-color: antiquewhite;
          width: 60%;
          color: rgb(8, 69, 81);
          padding: 1rem;
          border-radius: 20px;
          cursor: pointer;
        }
      }

      .cross-image {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  &-hamburger {
    cursor: pointer;
    display: none;
    @include mobile {
      display: flex;
      justify-content: end;
    }
  }
}
